<ion-list class="ion-no-margin ion-no-padding">  
  <ion-list-header color="dark" class="text-10">  
    <ion-label class="fw700">Dr.Floyd,Apollo hospitals</ion-label>  
  </ion-list-header>  


  <ion-button (click)="oneAlert()" color="secondary">
    <ion-item color="secondary" class="text-10">  
      <ion-icon name="mail" color="light"></ion-icon>  
      <ion-label>On:20june 4:00-6:00pm</ion-label>  
    </ion-item>  
  </ion-button><br>


  <ion-button (click)="twoAlert()"color="light">
    <ion-item color="light" class="text-10">  
      <ion-icon name="mail" color="primary"></ion-icon>  
      <ion-label>On:22june 2:00-3:00pm   </ion-label>  
    </ion-item> 
  </ion-button><br>

  <ion-button (click)="threeAlert()" color="secondary">
    <ion-item color="secondary" class="text-10">  
      <ion-icon name="mail" color="light"></ion-icon>  
      <ion-label>On:22june 4:00-6:00pm</ion-label>  
    </ion-item><br>
  </ion-button>

  <ion-button (click)="fourAlert()" color="light">
    <ion-item color="light" class="text-10">  
      <ion-icon name="mail-open" color="primary"></ion-icon>  
      <ion-label>On:25june 1:00-3:00pm</ion-label>  
    </ion-item> 
  </ion-button><br>
  
  <ion-button (click)="fiveAlert()" color="secondary">
    <ion-item color="secondary" class="text-10">  
      <ion-icon name="mail-open" color="primary"></ion-icon>  
      <ion-label>On:25june 4:00-6:00pm</ion-label>  
    </ion-item>  
  </ion-button>
</ion-list>   